<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% if bmi < 16 %}
        <div>Severely underweight</div>    
    {% elif bmi < 18.5 %} 
        <div>Underweight</div>
    {% elif bmi < 25 %}
        <div>Normal</div>
    {% elif bmi < 30 %}
        <div>Overweight</div>
    {% else %}
        <div>Obese</div>
    {% endif %} 
</body>
</html>